html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 3rem;
}

h1 {
    color: azure;
    font-size: 7rem;
    margin: 0;
}

h2 {
    color: lightgrey;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 10px;    
}

.title {
    background-image: url("../Images/marvel-rivals-characters.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 45vw; /* to ensure after animation logo is visible and at this size */
    animation-name: logo_intro;
    animation-duration: 3s;
    animation-timing-function:ease-out ;
}

@keyframes logo_intro {
    0% {
        width: 0;
    }

    100% {
        width: 45vw;
    }
}

.nav {
    background-color: gold;
    padding: 15px 5px;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_bar {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav_opt {
    border-left: 1px solid black;
    height: 100%;
}

.nav_opt a {
    font-size: 2rem;
    font-weight: 900;
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: margin-left 0.2s, margin-right 0.2s;
}

.nav_opt a:hover {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.nav_img {
    height: 30px;
    margin-left: 15px;
}

@media screen and (max-width: 720px) {
    .logo {
        width: 70vw;
    }
    .nav {
        height: 20vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav_bar {
        justify-content: space-evenly;
        padding: 0;
    }
    .nav_opt {
        border-right: 1px solid black;
        margin-left: 20px;
    }
    .nav_img {
        width: 200px;
        height: auto;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 570px) {
    .nav {
        height: max-content;
    }
    .nav_bar {
        align-self: flex-start;
        flex-direction: column;
        width: 100vw;
    }
    .nav_opt:nth-child(odd) {
        background-color: rgb(235, 200, 0);
    }

    .nav_opt {
        border-right:0 ;
    }
}

.desc {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    color: lightgrey;
}

.about, .gameplay, .story {
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    padding: 50px;
}

.roster {
    padding: 50px 50px 20px;
}

.fps {
    padding: 20px 50px 50px;
}



.gameplay_img, .story_img, .join_img {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameplay_img h1, .story_img h1, .join_img h1 {
    font-family: "Bebas Neue";
    padding:  30px 30px 20px;
    transition: padding 0.2s;
    text-shadow:0 0 10px  gold;
    background-color: rgba(0,0,0,0.5);
}
.gameplay_img h1:hover, .story_img h1:hover {
    padding-left:  70px;
    padding-right: 70px;
} 

.gameplay_img {
    background-image: url("../Images/marvel-rivals-teamup.jpg");
    background-position-y: -150px;
}

.story_img {
    background-image: url("../Images/marvel-rivals-galacta.jpg");
    background-position-y: -50px;
}

.join_img {
    background-image: url("../Images/marvel-rivals-new.webp");
    background-position-y: -20px;
}

@media  screen and (max-width: 1150px) {
    .join_img, .story_img, .gameplay_img {
        background-position-y: 0;
    }
}

.join_img a {
    color: azure;
}

.join_img a:hover {
    color: gold;
}

.join_img h1 {
    transition: scale 0.2s;
}
.join_img h1:hover {
    scale: 1.2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.95);
    color: rgb(169, 169, 169);
    font-weight: 500;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    margin: 0;
    padding: 0;
    color: gold;
    font-style: italic;
    font-weight: 900;
}

footer a:hover {
    color: white;
}

footer p {
    margin: 0;
}

.copyright {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(169, 169, 169);
    width: 30vw;
    font-size: 1.5rem;
    color: azure;
}
